.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
        .navbar-logo-anim{
            display: flex;
            justify-content: center;
            align-items: center;
            .test{
                font-size: 32px;
                gap:2rem;
                line-height: 35px;
                height:35px;
                font-family: 'bebas neue';
                overflow: hidden;
                    ul {
                    list-style: none;
                    padding-left: 10px;
                    animation: cambiar 1s infinite;
                        }
                }
            .logo {
                width: 80px;
                }
            }
            .list {
                list-style: none;
                display: flex;
                gap: 25px;
                a{
                    color: black;
                    text-decoration: none;
                    font-family: 'Bebas Neue', cursive;
                    font-size: 32px;

                    &:hover{
                        background-color: $fondonegro;
                        color:white;
                        opacity: 80%;
                        border-radius: 5px;
                        }
                    }
                } 
        }
