.boton{
    display: flex;
    width: 100%;
    background: #24303c;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    color: $textoblanco;
    font-size: 16px;
    font-weight: normal;
    background-color: #1f53c5;
    display: flex;
    justify-content: center;
}
