.centro{
    display: flex;
    gap: 1rem;
    justify-content: center;

            a{
                display: flex;
                flex-direction: column;
                width: 20%;
                justify-content: stretch;
                transition: .5s ease;
                padding-bottom: 1rem;
                gap: 1rem;
                text-decoration: none;

                &:hover{
                    width: 50%;
                    cursor: crosshair;
                    filter: contrast(130%);
                    padding-bottom: 3rem;
                }

                img{
                    flex-grow: 1;
                    object-fit: cover;
                    height: 60vh;
                    border-radius: 30px;
                }    

                p{
                    display: flex;
                    background-color: black;
                    opacity:70%;
                    color: white;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    padding: 0.3rem;
                    font-size: 24px;

                    &:hover{
                        padding: 1rem;
                        opacity: 100%;
                    }

                }
                
            }
        }
    




.videos{
display: flex;
justify-content: center;
padding-bottom: 1rem;

    iframe{
    padding: 10px;
    background-color: black;
    border-radius: .3rem;
    height: 60vh;

        &:hover{
            display: flex;
            transition: 1.2s;
            width: 70%;
            justify-content: center;
            align-items: center;
                }
        
    }
}
